.container {

  text-align: center;
}

.landing {
  display: grid;
  grid-template-areas: 
    "left right";
  padding: 5rem 0;
  color: #fff;
  height: 100vh;
}

.content {
  font-family: Aquire;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 600%;
  margin-bottom: 0;
}