.aboutDiv {
    display: grid;
    grid-template-areas: 
      "left right";
    text-align: center;
    height: 100vh;
    padding: 1rem 1rem;
    background-color: #fff;

}

.title {
    font-size: 600%;
    margin-top: 0;
    text-shadow: -4px 3px #00b768;
    font-family: Aquire;
}