.aboutDiv {
    display: grid;
    grid-template-areas: 
      "left right";
    text-align: center;
    height: 100vh;
    padding: 4rem 1rem;
    background-color: #fff;
    color: #000 ;
}

.title {
    font-size: 600%;
    margin-top: 0;
    text-shadow: -4px 3px #00b768;
    font-family: Aquire;
}

.content {
  text-align: left;
  padding: 0 3rem;
  width: 80%;
}

.logo {
  width: 400px;
  height: 400px;
  margin: 0 6em;
}