.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
    padding: 5rem 5rem;
    background-color: #fff;

}

.title {
    font-size: 600%;
    margin-bottom: 0;
    font-family: Aquire;
}