.FAQdiv {
    display: grid;
    grid-template-areas: 
      "left right";
    text-align: center;
    height: 100vh;
    padding: 4rem 1rem;
    background-color: #00b768;
    color: #fff ;
}

.title {
    font-size: 600%;
    margin-top: 0;
    text-shadow: 4px 3px #000;
    font-family: Aquire;
}
