@font-face {
  font-family: "Aquire";
  src: url("../styles/fonts/Aquire-BW0ox.otf") format("opentype");
}

@font-face {
  font-family: "Aquire-Light";
  src: url("../styles/fonts/AquireLight-YzE0o.otf") format("opentype");
}


html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    168deg,
    #00b768 80%,
    #fff 0%
  );
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 1.5rem 8rem;
}